---
const { src, alt, altLink } = Astro.props;
---

<style>
  figure {
    display: block;
    text-align: center;
    margin: 0;
  }

  img {
    display: block;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    @media (max-width: 480px) {
      width: 100%;
    }
  }
  figcaption {
    font-size: 1rem;
    font-style: italic;
  }
</style>

<figure>
  <img src={src} alt="" />
  <figcaption>
    {altLink ? <a href={altLink}>{alt}</a> : `${alt}`}
  </figcaption>
</figure>
